<?xml version="1.0"?>

<configuration>

  <system.webServer>

    <!-- Disable directory listing -->
    <directoryBrowse enabled="false" />

    <!-- IIS Level Errors -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="/GenericError.htm" responseMode="File" />
      <error statusCode="500" path="/GenericError.htm" responseMode="File" />
    </httpErrors>

  </system.webServer>
  
  <system.web>

    <!-- Force custom error even on localhost -->
    <customErrors mode="On" defaultRedirect="~/GenericError.htm" />

    <!-- Turn OFF debug -->
    <compilation debug="false" targetFramework="4.5" />

    <httpRuntime targetFramework="4.5" />

    <!-- Re-enable request validation (important for security) -->
    <pages validateRequest="true" />

  </system.web>

  <connectionStrings>
    <add name="DefaultConnection"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=localhost;
                           Initial Catalog=ASPVulnerableLab;
                           User ID=sa;
                           Password=P@ssw0rd;
                           TrustServerCertificate=True;" />
  </connectionStrings>

</configuration>